@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .side-btn{
    @apply  p-2 rounded-md
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  /* Dark color for the thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Dark color for the thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: #222;
  /* Dark color for the track */
}